<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="EntityFramework.zh-Hant" version="6.2.0" targetFramework="net451" />
  <package id="FluentAssertions" version="4.19.4" targetFramework="net451" />
  <package id="FluentAutomation.Core" version="3.0.0.0" targetFramework="net451" />
  <package id="FluentAutomation.SeleniumWebDriver" version="3.0.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net451" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net451" />
  <package id="NUnit" version="3.8.1" targetFramework="net451" />
  <package id="Selenium.Support" version="3.6.0" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="3.6.0" targetFramework="net451" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.33.0" targetFramework="net451" />
  <package id="SpecFlow" version="2.2.1" targetFramework="net451" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net451" />
  <package id="Unity" version="5.1.0" targetFramework="net451" />
  <package id="Unity.Mvc5" version="1.2.3" targetFramework="net451" />
</packages>