

@{
    Layout = "";
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>安娜的動物聊天室 Anna's Animal Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />
    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="~/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Roboto:300,400" rel="stylesheet" type="text/css">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Modernizr JS -->
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--<div class="col-md-3">
            <ul class="social">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                <li><a href="#"><i class="icon-instagram"></i></a></li>
            </ul>
    </div>-->
    <div class="box-wrap">

        <header role="banner" id="fh5co-header">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="fh5co-navbar-brand">
                                <a class="fh5co-logo" href="~/index.html"><img src="~/images/brand-nav.png" alt="Closest Logo"></a>
                            </div>
                            <div class="col-md-6 col-md-offset-3  text-center intro">
                                <h2>安娜的動物聊天室 ❤ 談心聊愛</h2>
                            </div>

                        </div>
                        <div class="col-md-8 col-md-offset-2 ">
                            <ul class="nav text-center">
                                <li><a href="~/index.html">About 介紹</a></li>
                                <!--<li><a href="Notes.html">Notes 溝通筆記</a></li>-->
                                <li class="active">
                                    @Html.ActionLink("to Book 來聊愛", "Index")
                                    
                                </li>
                            </ul>
                        </div>



                    </div>
                </nav>
            </div>
        </header>
        <!-- END: header -->
        <section id="intro">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 text-center">
                        <div class="intro animate-box">
                            <h1>來聊愛</h1>
                            <h4>請<b>務必</b>詳細閱讀預約步驟<br>並帶著<u>開放的心</u>和<u>信任</u>來聊天喔～<br>期待與你們相遇：）</h4>
                        </div>
                    </div>
                </div>
                </div>
        </section>
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 animate-box">
                        <div class="service">
                            <div class="service-icon">
                                <p class="icon">00 <span>寫在前面</span></p>
                            </div>
                            <ul>
                                <li>溝通前，安娜會和三方的內在智慧確認是否能夠進行溝通，再與您約時間，若因總總原因無法溝通，請予以尊重。</li>
                                <li>一次最多2位陪伴動物和1位旁聽的家人，確認溝通意願後，若要增加須重新預約。</li>
                                <li><b>預約流程：和同伴動物說明＞填寫預約單＞加入LINE通知您已填寫預約單＞內在智慧確認＞費用＞聊天前準備。</b></li>
                                <li>已聊過天的朋友們也請重新填寫預約單喔！非常感謝。</li>
                                <li>往生小天使非常看緣分，一次只能1位小天使。若有緣，溝通完安娜就會送小天使去該去的地方，因為需要準備的比較多，費用會加500喔。</li>
                                <li>緊急臨終可直接訊息(照顧者姓名、動物名字、動物眼睛清楚的照片)，若有緣份，我會立刻確認溝通。祝福一切。</li>
                                <li>狗狗、貓貓通常6個月以上會比較言之有物。</li>
                                <li>動物對於自己的性別不像人類分得很清楚，尤其是結紮過的。</li>
                                <li>
                                    聊天方式<br>・線上文字訊息：LINE訊息聊天。<br>
                                    ・面對面：南勢角捷運站附近咖啡廳，需彩色列印陪伴動物的照片，並自行負擔咖啡店個人低消。<br>
                                    ・家訪：建議病重或臨終動物同伴選擇。
                                </li>

                            </ul>
                        </div>
                    </div>

                    <!--步驟1-->
                    <div class="col-md-8 col-md-offset-2 animate-box">
                        <div class="service">
                            <div class="service-icon">
                                <p class="icon">01 <span>和同伴動物說明</span></p>
                            </div>
                            <p>跟陪伴動物「慢慢的」說：「 （自稱）找了一個能聽得懂你說話的人類，叫做<i>安娜</i>，是（自稱）信任的人，她會做我們之間的聊天的管道。」</p>
                        </div>
                    </div>

                    <!--步驟2-->
                    <div class="col-md-8 col-md-offset-2 animate-box">
                        <div class="service">
                            <div class="service-icon">
                                <p class="icon">02 <span>填寫預約單</span></p>
                            </div>
                            <!--預約單-->
                            <div class="col-md-12 animate-box">
                                <form action="#">
                                    <div class="form-group row">
                                        <div class="col-md-6 field">
                                            <label for="Name">真實中文全名</label>
                                            <input type="text" name="Name" id="Name" class="form-control">
                                            <h5>您必須是<b>主要照顧者</b>才可以預約！請尊重隱私。</h5>
                                        </div>
                                        <div class="col-md-6 field">
                                            <label for="FBID">LINE名稱／ID</label>
                                            <input type="text" name="LINE" id="LINE" class="form-control" placeholder="@("安娜/@sbd7852v")"/>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 field">
                                            <label for="Nickname">自稱</label>
                                            <input type="text" name="Nickname" id="Nickname" class="form-control"><h5>如何和陪伴動物自稱自己?(馬麻?葛格?)</h5>
                                        </div>
                                        <div class="col-md-6 field">
                                            <label for="Familyname">旁聽家人的全名</label>
                                            <input type="text" name="Familyname" id="Familyname" class="form-control"><h5>若沒有可不填</h5>
                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-md-6 field">
                                            <label for=“status”>動物狀態</label>
                                            <select class="form-control">
                                                <option>在世
                                                <option>往生小天使+500
                                            </select>
                                            <h5></h5>
                                        </div>
                                        <div class="col-md-6 field">
                                            <label for=“Quantity”>動物數量</label>
                                            <select class="form-control">
                                                <option>1
                                                <option>2
                                            </select>
                                        </div>
                                    </div>

                                    <!--A動物-->
                                    <div class="form-group row">
                                        <div class="col-md-6 field">
                                            <label for="AnimalnameA">A動物名字或暱稱</label>
                                            <input type="text" name="Animalname" id="Animalname" class="form-control"><h5>最常怎麼叫他？</h5>
                                        </div>
                                        <div class="col-md-6 field">
                                            <label for="AnimalnameA">A動物照片</label>
                                            <div class="file">
                                                <span>選擇照片</span>
                                                <input type="file" />
                                            </div>
                                            <h5>彩色、眼睛清楚、一個月內</h5>
                                        </div>
                                    </div>
                                    <!--B動物-->
                                    <div class="form-group row">
                                        <div class="col-md-6 field">
                                            <label for="AnimalnameB">B動物名字或暱稱</label>
                                            <input type="text" name="Animalname" id="Animalname" class="form-control"><h5>最常怎麼叫他？</h5>
                                        </div>
                                        <div class="col-md-6 field">
                                            <label for="AnimalnameB">B動物照片</label>
                                            <div class="file">
                                                <span>選擇照片</span>
                                                <input type="file" />
                                            </div><h5>彩色、眼睛清楚、一個月內</h5>
                                        </div>
                                    </div>
                                    <div class="form-group row">

                                        <div class="col-md-5 field">
                                            <label for=“time”>聊天方式</label>
                                            <select class="form-control">
                                                <option>線上文字訊息
                                                <option>面對面
                                                <option>家訪
                                            </select>

                                        </div>
                                        <div class="col-md-4 field">
                                            <label for=“time”>聊天時間</label>
                                            <select class="form-control">
                                                <option>1hr
                                                <option>0.5hr
                                                <option>1.5hr
                                            </select>

                                        </div>
                                        <div class="col-md-3 field">
                                            <label for=“time”>費用</label>
                                            <h3 class="form-money">1000元</h3>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12 field">

                                            <label for=“time”> 希望預約的時段(可複選)</label><br/>
                                            <!--<input type="checkbox" class="squaredFour"> 平日下午12:00~13:30<br/>
                                            <input type="checkbox"> 平日下午14:30~16:00<br/>
                                            <input type="checkbox"> 平日晚上21:30~23:00<br/>
                                            <input type="checkbox"> 假日下午14:30~16:00<br/>
                                            <input type="checkbox"> 假日晚上21:30~23:00<br/>-->
                                            <div class="checkboxs">
                                                <input type="checkbox" id="A1200">
                                                <label for="A1200">平日 下午12:00~13:30</label><br/>

                                                <input type="checkbox" id="A1430">
                                                <label for="A1430">平日 下午14:30~16:00</label><br/>

                                                <input type="checkbox" id="A2130">
                                                <label for="A2130">平日 晚上21:30~23:00</label><br/>

                                                <input type="checkbox" id="B1430">
                                                <label for="B1430">假日 下午14:30~16:00</label><br/>

                                                <input type="checkbox" id="B2130">
                                                <label for="B2130">假日 晚上21:30~23:00</label><br/>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12 field">
                                            <input type="submit" id="submit" class="btn btn-primary" value="確認送出表單">
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>


                    <!--步驟3-->
                    <div class="col-md-8 col-md-offset-2 animate-box">
                        <div class="service">
                            <div class="service-icon">
                                <p class="icon">03 <span>加入LINE - 安娜的動物聊天室</span></p>
                            </div>
                            <img src="http://qr-official.line.me/L/WLlqhOliEE.png" height="150">
                            <a href="https://line.me/R/ti/p/%40sbd7852v"><img height="50" border="0" alt="加入好友" src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"></a>
                            <p>請加『安娜的動物聊天室』為LINE好友，並用<b>LINE訊息通知您已填寫預約單</b>，會用LINE與您聯絡確認結果與溝通，所以請務必要填寫正確的LINE名稱／ID。安娜不會推播任何行銷訊息，僅與您聊天溝通使用。</p>
                            <p></p>
                        </div>
                    </div>
                    <!--粉絲團訊息步驟

                    <div class="col-md-8 col-md-offset-2 animate-box">
                        <div class="service">
                            <div class="service-icon">
                                <p class="icon">03 <span>通知安娜您已填寫預約單</span></p>
                            </div>
                            <p>請到<a href="https://www.facebook.com/AnnaAnimalChat/" target="_blank">安娜的動物聊天室粉絲團</a>發送訊息通知您已填寫預約單，完成這個步驟才算預約完成喔！（不然我找不到您啊～）</p>
                        </div>
                    </div>-->
                    <!--步驟5-->
                    <div class="col-md-8 col-md-offset-2 animate-box">
                        <div class="service">
                            <div class="service-icon">
                                <p class="icon">04 <span>內在智慧確認與安排時間</span></p>
                            </div>
                            <p>內在智慧確認大概需要<b>3~5天</b>，請耐心等候安娜回覆訊息，會盡力安排您希望的時段。若因總總原因無法溝通，只是我們的緣份未到，沒關係的！可以找其他的<a href="http://miruku78.blogspot.tw/2015/02/blog-post.html" target="_blank">全方位溝通療癒師</a>。</p>
                        </div>
                    </div>

                    <!--步驟6-->

                    <div class="col-md-8 col-md-offset-2 animate-box">
                        <div class="service">
                            <div class="service-icon">
                                <p class="icon">05 <span>費用</span></p>
                            </div>
                            <ul>
                                <li>線上文字訊息：請在約定時間的24小時前匯款，若未匯款視同您取消溝通喔！</li>
                                <li>匯款資訊：<br>銀行代號：808 玉山銀行<br>銀行帳號：0808968134990</li>
                                <li>面對面與家訪：聊天完再付費用即可。</li>
                            </ul>
                        </div>
                    </div>
                    <!--步驟7-->
                    <div class="col-md-8 col-md-offset-2 animate-box">
                        <div class="service">
                            <div class="service-icon">
                                <p class="icon">06 <span>聊天前準備</span></p>
                            </div>
                            <p>請在約定時間的<b>3~7天前</b>，花一點時間準備以下事項：</p>
                            <ul>
                                <li>準備問題清單與相關照片（先不用給我）<br>準備要問人、事、物、地的照片可以免去翻譯過程中因為認知不同而造成的誤會唷！</li>
                                <li>每天跟陪伴動物「慢慢的」說：「（自稱）想要問你（清單的問題），你可以先想想要怎麼回答，到時候跟安娜說，（自稱）就會知道你的答案了。你最棒最可愛全世界我最愛你。」</li>
                                <li>帶著信任與祝福，期待與寶貝聊天：）</li>
                            </ul>
                            <p>陪伴動物最信任的人是家長，以上事項若做足了，可大大提升溝通品質唷！</p>
                        </div>
                    </div>
                    <!--步驟8-->

                    <div class="col-md-8 col-md-offset-2 animate-box">
                        <div class="service">
                            <div class="service-icon">
                                <p class="icon">07 <span>寫在後面</span></p>
                            </div>
                            <ul>
                                <li>若聊天當日無法與陪伴動物連線，全額退款。（不含咖啡店低消）</li>
                                <li>在聊天過程中，如果有答應陪伴動物的事，請說到做到！</li>
                                <li>遠距聊天有點累，如果陪伴動物狂睡或狂吃是正常的，因為我也會XD</li>
                                <li>您所提供的資料，僅用於安娜確認動物溝通意願用，未經您的同意不會公開、搜集、行銷等等使用。</li>
                                <li>謝謝您非常有耐心的全部看完，祝福所有的一切！</li>
                            </ul>
                        </div>
                    </div>


                    <!--<div class="col-md-6 animate-box">
                        <div class="service">
                            <div class="service-icon">
                                <i>03</i>
                            </div>
                            <h2>Development &amp; CMS</h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        </div>
                    </div>

                    <div class="col-md-6 animate-box">
                        <div class="service">
                            <div class="service-icon">
                                <i>04</i>
                            </div>
                            <h2>Brand Identity</h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        </div>
                    </div>
                    <div class="col-md-6 animate-box">
                        <div class="service">
                            <div class="service-icon">
                                <i>05</i>
                            </div>
                            <h2>Web Design &amp; UI</h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        </div>
                    </div>
                    <div class="col-md-6 animate-box">
                        <div class="service">
                            <div class="service-icon">
                                <i>06</i>
                            </div>
                            <h2>Development &amp; CMS</h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        </div>
                    </div>-->
                </div>
            </div>
        </section>



        <footer id="footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer-widget border">
                            <p class="pull-left"><small>&copy; Anna's Animal Chat.</small></p>
                            <p class="pull-right"><a href="https://www.facebook.com/AnnaAnimalChat/" target="_blank"><img width="24px" src="images/icon_fb.png"></a></p>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- END: box-wrap -->
    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- Main JS (Do not remove) -->
    <script src="~/js/main.js"></script>
</body>
</html>
